@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    /* COMMON COLORS */
    --black: #000;
    --light-black: #101010;
    --dark-grey: #292929;
    --light-grey: #7e7e7e;
    --blue: #3a73cc;
    --red: #f44336;
    --white: #fff;

    /* COMMON CONFIGURATIONS */
    --border-config: 1px solid var(--black);
    --color: var(--black);
    --bg-color: var(--dark-grey);
    --font-family: 'Roboto', 'Arial', sans-serif;
    --border-radius: 3px;
    --font-size: 20px;
    --box-shaddow: var(--box-shaddow);
}

.lscalendar {
    display: flex;
    flex-direction: column;
    border: var(--border-config);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--blue);
    font-size: var(--font-size);
}

.lscalendar__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: var(--border-config);
    color: var(--blue);
}

.lscalendar__header_month_name:hover {
    cursor: pointer;
}

.lscalendar__header_button {
    position: relative;
    top: -2px;
    font-size: 30px;
    border: none;
    width: 60px;
    outline: none;
    background-color: transparent;
    color: var(--blue);
}

.lscalendar__header_button:hover {
    cursor: pointer;
}

.lscalendar__week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lscalendar__week:not(:last-child) {
    border-bottom: var(--border-config);
}

.lscalendar__week:first-child .lscalendar__day::before {
    content: attr(lscalendar-weekday);
    position: absolute;
    text-align: center;
    width: 100%;
    top: -20px;
}

.lscalendar__day:not(.lscalendar__no_day):not(.lscalendar__day--disabled):hover {
    background-color: var(--blue);
    color: var(--black);
    cursor: pointer;
}

.lscalendar__day {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 8vw;
    padding: 20px 5px 30px 5px;
    position: relative;
}

.lscalendar__day::after {
    font-size: 14px;
    content: attr(lscalendar-day);
    position: absolute;
    top: 5px;
    right: 5px;
}

.lscalendar__day:not(:last-child) {
    border-right: var(--border-config);
}

.lscalendar__no_day {
    background-color: var(--light-black);
}

.lscalendar__day--disabled {
    color: var(--black);;
    background-color: var(--light-black);;
}

.lscalendar__form--hidden {
    display: none !important;
}

.lscalendar__form {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    background-color: #171717;
    box-shadow: var(--box-shaddow);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    z-index: 2;
    min-width: 417px;
}

.lscalendar__form_title {
    margin-left: 4px;
}

.lscalendar__form_close_button {
    color: var(--light-grey);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.lscalendar__form_close_button:hover {
    color: var(--blue);
}

.lscalendar__form_input {
    padding: 5px;
    border-radius: var(--border-radius);
    border: var(--border-config);
    margin: 3px;
    min-height: 20px;
    line-height: 20px;
}

.lscalendar__form_button {
    line-height: 27px;
    border: none;
    margin: 1px;
    min-width: 80px;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.lscalendar__form_button--blue {
    background-color: var(--blue);
    color: white;
}

.lscalendar__form_button--red {
    background-color: var(--red);
    color: white;
}

.lscalendar__appointment {
    font-size: 15px;
    padding: 10px 5px;
    box-shadow: var(--box-shaddow);
    margin-top: 7px;
    border-radius: var(--border-radius);
    opacity: 0.9;
    color: var(--white);
}

.lscalendar__appointment:hover {
    opacity: 1;
}

@media (max-width: 480px) {
    .lscalendar__week {
        flex-direction: column;
    }

    .lscalendar__week {
        border: none !important;
    }

    .lscalendar__day {
        border-right: none !important;
        border-top: var(--border-config);
    }

    .lscalendar__form {
        min-width: 225px;
    }

    .lscalendar__day--disabled,
    .lscalendar__no_day {
        display: none;
    }

    .lscalendar__header {
        border: none;
    }

    .lscalendar__form_title {
        font-size: 14px;
    }
}
